*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.content {
  padding: 0 30px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  min-height: 298px;
  max-height: 298px;
  max-width: 399px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.content__list::-webkit-scrollbar {
  width: 6px;
}

.content__list::-webkit-scrollbar-track {
  background: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: inherit;
  width: inherit;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin: 0 0 16px 0;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  min-width: 200px;
}

.content__video-card-title {
  margin: 0 0 6px 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card-description-container {
  margin: 2px 0 2px 2px;
}

.title {
  text-transform: uppercase;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.title .content__accent {
  color: #545050;
  font-family: "Oswald", sans-serif;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 6px 0;
}

.search-form__textfield {
  color: #fff;
  padding: 0;
  width: 225px;
  height: 27px;
  border-left: none;
  border-right: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: initial;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  letter-spacing: -0.1px;
  line-height: 100%;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: 0;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__fieldset {
  align-self: center;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  cursor: pointer;
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  background-color: initial;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #fff;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin: 0 5px 0 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background: white;
  outline: 1px solid white;
  border: 1px solid #1b1919;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.more-button {
  min-width: 399px;
  gap: 10px;
  color: #fff;
}